
<div>
  <h3 class="title">HISTORIAL DE COMPRA</h3>

</div>

<div class="container">
   <!--Encabezados de tabla-->
   <div class="row barra d-flex justify-content-center">
    <div class="col-3 espacios">
      <b>Orden</b>
    </div>
    <div class="col-3 espacios ">
    <b> descripción</b>
    </div>
    <div class="col-3 espacios">
     <b> Total</b>
    </div>
    <div class="col-3 espacios">
     <b> fecha</b>
    </div>


  </div>

  <!--Detalle de tabla-->

  <div class="detalleCompra">
    <div class="row rowDetalle d-flex justify-content-center">
      <div class="col-3 espacios ">
         orden#
      </div>
      <div class="col-3 espacios">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </div>
      <div class="col-3 espacios">
          2
      </div>
      <div class="col-3 espacios">
          2/4/201
      </div>

    </div>

    <!--fila dos-->
    <div class="row rowDetalle d-flex justify-content-center">
      <div class="col-3 espacios ">
         orden#
      </div>
      <div class="col-3 espacios">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </div>
      <div class="col-3 espacios">
          3
      </div>
      <div class="col-3 espacios">
          5/6/2021
      </div>

    </div>

  </div>


</div>

