
<nav class="colorNavar navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="../assets/img/logo.png" alt=""></a>
    <div *inIf="">
      <li class="nav-item" style="list-style: none;">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
      </li>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Historial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Estado</a>
        </li>

      </ul>
      <form class="d-flex">
        <button class="btn btn-outline" type="submit"> <fa-icon class="faUser" [icon]="faUser"></fa-icon></button>

      </form>
    </div>
  </div>
</nav>

<!--<app-landy-page></app-landy-page>-->

<!--<app-empresas></app-empresas>-->

<!-- <app-producto></app-producto> -->

<!--<app-factura></app-factura>-->
<!--<app-historia-compra></app-historia-compra>-->

<!--<app-proceso-pago></app-proceso-pago>-->

<app-estado></app-estado>


  <div class="footer"></div>


