<div class="container-fluid">
  <h1 id="Categoria">Comida</h1> <br>

  <div class="row">
    <div class="col-12">
      <P style="justify-content: center;">
        Empresas que se dedica a que tu y tu familia
       </P>

    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/Wendy_s-logo.png" class="card-img-top" alt="...">
      </div>

    </div>

    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/mcdonalds-logo.png" class="card-img-top" alt="...">

      </div>

    </div>

    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/shushi2go.png" class="card-img-top" alt="...">

      </div>

    </div>


    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/matambritas.png" class="card-img-top" alt="...">

      </div>

    </div>


    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/pizzaHut.png" class="card-img-top" alt="...">

      </div>

    </div>

    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/elBuenGusto.png" class="card-img-top" alt="...">

      </div>

    </div>
    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/polloCampero.png" class="card-img-top" alt="...">

      </div>

    </div>

    <div class=" col-xs-6 d-flex justify-content-center col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-8">
      <div class="card " style="width:18rem">
        <img src="../../../assets/img/imgEmpresas/kfc.png" class="card-img-top" alt="...">

      </div>

    </div>


  </div>


</div>

