
<div class="container">
  <div class="row mt-5">

    <div class="col-12">

      <h5 style="text-align: right; padding-right: 20px;"> Estado de la orden: Pendiente</h5><br>
      <p class="barra ml-auto"></p>
    </div>

  </div>

  <div class="row marco mt-5 p5">
    <div class="col-12">
      <p>su orden esta siendo procesada en este momento para que sea entregada a la puerta de su casa.</p>

    </div>


    </div>


    <div class="row mt-5">
      <div class="col-12">
        Mapa de la ubicación:

      </div>
  </div>

</div>
